---
import AboutCards from "../svelte/AboutCards.svelte";
const { about } = Astro.props;
---

<section id="about" class="relative py-15 px-4 bg-neutral-950 text-white">
  <div class="max-w-6xl mx-auto">

    <h2 class="text-4xl md:text-5xl font-extrabold text-center mb-20">
      {about.title}
    </h2>

    <AboutCards about={about} client:load />
  </div>
</section>
