---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/astro/Header.astro";
import AboutSection from "../components/astro/AboutSection.astro";

import { loadTranslations } from "../utils/i18n";

const lang = Astro.url.searchParams.get("lang") || "en";
const t = await loadTranslations(lang);
---

<BaseLayout title="About" lang={lang}>
  <div slot="header">
    <Header lang={lang} />
  </div>

  <AboutSection t={t} />
</BaseLayout>
