---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/astro/Header.astro";
import ContactForm from "../components/svelte/ContactForm.svelte";

import { loadTranslations } from "../utils/i18n";

const lang = Astro.url.searchParams.get("lang") || "en";
const t = await loadTranslations(lang);
---

<BaseLayout title="Contact" lang={lang}>
  <div slot="header">
    <Header lang={lang} />
  </div>

  <ContactForm client:visible t={t} />
</BaseLayout>
